.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  display: block;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  list-style: none;
  border: 1px solid #ccc;
}

.products button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #75f379;
  border: 1px solid #cd3636;
  cursor: pointer;
  width: 11rem;
  height: 3rem;
  font-weight: bolder;
}

.products button:hover {
  background-color: #f51717;
  color: #fff311;
}

.product {
  border: 1px solid #ccc;
  background-color: #cbf9fe;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  width: 50vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #75f379;
  border: 1px solid #cd3636;
  cursor: pointer;
  width: 11rem;
  height: 3rem;
  font-weight: bolder;
}

.product button:hover {
  background-color: #f51717;
  color: #fff311;
}
.product img {
  max-width: 100%;
  margin-bottom: 1rem;
}

.product h2 {
  margin-top: 0.5rem;
  font-size: 2.5rem;
  color: #333;
}

.product p {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  color: #333;
}

.product-info {
  margin-top: 1rem;
  text-align: left;
}


.reviews {
  margin-top: 1rem;
  font-size: 3rem;
}

.reviews ul {
  list-style-type: none;
  padding: 0;
}

.reviews li {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

.reviews li:last-child {
  border-bottom: none;
}

.rating, .price {
  font-weight: bold;
  margin-top: 1rem;
}

#loading, #failed {
  display: flex;
  justify-content: center;
  font-size: 10rem;
  color: brown;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
